<?xml version="1.0" encoding="utf-8"?>
<widget xmlns       	= "http://www.w3.org/ns/widgets"
        xmlns:gap   	= "http://phonegap.com/ns/1.0"
    	xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          	= "es.rickyjon.test"
        versionCode 	= "10"
        version     	= "1.1.1">
 
    <name>Employee Directory</name>
 
    <description>
        A simple employee directory application
    </description>
 
    <author href="http://rickyjon.es" email="support@rickyjon.es">
        Ricky Jones
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>